body{background:red}
h1{font-family: Arial; font-size: 70px; color:black;border-style: double;border-width: 20px}
p{font-family: Garamond; font-size: 28px;color: black;}
img{display: block;margin-left: auto;margin-right: auto;width: 350px;border-style: double;border-width: 20px}
a{text-decoration: none;color: white;}